server:
  port: 8080

spring:
  application:
    name: asset85
  datasource:
    url: jdbc:mysql://localhost:3306/asset
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    servlet:
      multipart:
        max-file-size: 10MB
        max-request-size: 50MB
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases+package: com.system.demo.entity
  configuration:
    map-underscore-to-camel-case: true
