<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
<select id="userMapperLogin" parameterType="com.example.demo.entity.User" resultType="com.example.demo.entity.User">
    select * from user where username=#{username} and password=#{password}
</select>
    <select id="selectAllUser" resultType="com.example.demo.entity.User">
        select *
        from user
        order by id desc
        limit #{page},#{pageSize}

    </select>
    <select id="selectUserTotal" resultType="int">
        select COUNT(id) as total
        from user
    </select>
    <update id="updateUser" parameterType="com.example.demo.entity.User">
        update  user
        set username=#{username},
            user_code=#{userCode},
            password=#{password},
            real_name=#{realName},
            gender=#{gender},
            user_type=#{userType},
            email=#{email},
            mobile=#{mobile},
            status=#{status},
            avatar=#{avatar}
        where id = #{id}
    </update>
    <delete id="deleteUser" parameterType="int">
        delete
        from user
        where id = #{id};
    </delete>
    <insert id="addUser" parameterType="com.example.demo.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into user(username,user_code,password,real_name,gender,user_type,email,mobile,status,avatar)
        values (#{username},#{userCode},#{password},#{realName},#{gender},#{userType},#{email},#{mobile},#{status},#{avatar})
    </insert>
    <select id="selectUsersByIds" resultType="com.example.demo.entity.User">
        SELECT id, real_name FROM user WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectUserById" resultType="com.example.demo.entity.User">
        SELECT id, real_name FROM user WHERE id = #{id}
    </select>
</mapper>